/* centralizing page body */

body {
  height: 100vh;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #161616;
  border: 2px solid red;
}

.name {
  text-align: center;
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #e9eaef;
}

.display {
  display: flex;
  margin-top: 10px;
  width: 390px;
  height: 100px;
  text-align: right;
  font-size: 1.5rem;
  border: solid 10px #161616;
  border-radius: 30px;
  background: #4e7877;
  color: #4e7877;
}

.display-container {
  display: flex;
  justify-content: center;
}

/* calculator container */

.calculator {
  width: 400px;
  height: 800px;
  background: #303032;
  border-radius: 60px;
  padding: 20px;
  box-shadow: 0px 0px 20px 8px #ffffff;
  border: 5px solid #161616;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
