/* centralizing page body */

body {
  height: 100vh;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #161616;
  border: 2px solid red;
}

.name {
  text-align: center;
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #e9eaef;
}

.display {
  display: flex;
  margin-top: 10px;
  width: 390px;
  height: 100px;
  text-align: right;
  font-size: 1.5rem;
  border: solid 6px #272727;
  border-radius: 30px;
  background: #4e7877;
  box-shadow: inset 0px 0px 10px 5px rgba(24, 24, 24, 0.815);
}

.display-container {
  display: flex;
  justify-content: center;
}

/* calculator container */

.calculator {
  width: 400px;
  height: 800px;
  background: #303032;
  border-radius: 60px;
  padding: 20px;
  box-shadow: 0px 0px 15px 5px black;
  border: 5px solid #413f3f;
}

/* buttons styling*/

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.buttons button {
  flex: 1 1 22%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #999f9b;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.buttons-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.buttons-container button:hover {
  background: #505052;
}

.buttons-container button {
  flex: 1;
  min-width: 75px;
  height: 60px;
}

/* Buttons details*/

button.btn-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b0606b;
}

button.btn-equal {
  background: #b0606b;
}
