/* centralizing page body */

html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232d2e;
}

/* calculator container */

.calculator {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 500px;
}

.display {
  width: 100%;
  height: 800px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 40px;
  background: #415242;
  color: #fff;
}

.display-container {
  background: white;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: inset 0 2px 5px lightgrey;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
